<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Web3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body <%= yield(:body_attributes) if content_for?(:body_attributes) %>>
    <%= render 'layouts/header' %>
    <div class="ui container pb6">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
